@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Macondo&display=swap");

/*CSS variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #183b42;
    --secondary-color: #206177;
    --highlight-color: #368ba3;
    --highlight-color-light: #d8ebda;
}
/*Global Styles*/

body {
    font-family: var(--primary-font);
}

/*Nav bar*/
#navbar {
    background-color: var(--highlight-color);
}

/*Header*/
#header {
    background-color: var(--highlight-color-light);
    color: var(--primary-color);
}

h1 {
    font-size: 200%;
}
p {
    font-size: medium;
}

#carouselExampleAutoplaying {
    max-height: 700px;
    max-width: 700px;
    margin: auto;
}
.section {
    padding-top: 4rem; /*prevent nav bar overlap*/
}

h2 {
    font-family: var(--secondary-font);
}

.img-fluid {
    display: flex;
    padding: 1.5rem;
}

img.img-fluid {
    max-width: 75%;
    max-height: 75%;
    margin: auto;
}

/*contact details*/
#contact {
    background-color: var(--highlight-color);
}

#contact h2 {
    text-align: center;
    font-size: 4em;
}

#social {
    border: none;
}

/*Meadia Queries*/

/*Media quires for (xl laptops, over 1200px)*/
@media screen and (min-width: 1200px) {
    #title {
        margin-top: 4rem;
        padding-left: 4rem;
    }
}
